{% extends "index.html" %}
{% block content %}
<body class="flex-grow-1">
    <div class="container-lg mt-3">
        <h2>Сайт: {{url.name}}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                <tr>
                    <td>id</td>
                    <td>{{url.id}}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{url.name}}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{url.created_at}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form action="{{ url_for('url_check', id=url.id) }}" method="post">
            <input type="submit" class="btn btn-primary" value="Запуск проверки">
        </form>
        <div>
            <table class="table table-bordered table-hover mt-2" data-test="checks">
                <tbody>
                    <tr>
                        <th>id</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Время проверки</th>
                    </tr>
                    {% for check in checks %}
                    <tr>
                        <td>{{check.id}}</td>
                        <td>{{check.response_code}}</td>
                        <td>{{check.h1}}</td>
                        <td>{{check.title}}</td>
                        <td>{{check.description}}</td>
                        <td>{{check.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}